body {
    background-color: beige;
  }

nav {
    position: -webkit-sticky;
    background-color: lightblue;
    text-align: center;
    position: sticky;
    top: 0;
}

h1{
    font-family: Montserrat, sans-serif;;
}

#l1::after{
    content: "\a";
    white-space: pre;
}